* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Georgia, serif;
}

body {
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #333;
    padding: 15px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px;
    height: 200px;  
}

.hero h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    margin-bottom: 25px;
}

.hero p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.hero::after {
    content: "";
}

footer {
    margin-top: auto;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 35px 0;
    font-size: 20px;
}
